* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(green, rgb(210, 102, 102) 50%,
    white 50%);
}